.mountain-silhouette {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  color: var(--mountain);
  opacity: 0.2;
  pointer-events: none;
}

.mountain-silhouette svg {
  width: 100%;
  height: 100%;
  display: block;
}
